version: '2.1'

services:
  kafka1:
    image: wurstmeister/kafka
    restart: always
    hostname: kafka1
    container_name: kafka1
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka1
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: 172.19.0.11:2181,172.19.0.12:2181,172.19.0.13:2181
    volumes:
      - ./kafka1/logs:/kafka
    networks:
      kafka:
        ipv4_address: 172.20.0.14

  kafka2:
    image: wurstmeister/kafka
    restart: always
    hostname: kafka2
    container_name: kafka2
    ports:
      - 9093:9093
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka2
      KAFKA_ADVERTISED_PORT: 9093
      KAFKA_ZOOKEEPER_CONNECT: 172.19.0.11:2181,172.19.0.12:2181,172.19.0.13:2181
    volumes:
      - ./kafka2/logs:/kafka
    networks:
      kafka:
        ipv4_address: 172.20.0.15

  kafka3:
    image: wurstmeister/kafka
    restart: always
    hostname: kafka3
    container_name: kafka3
    ports:
      - 9094:9094
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka3
      KAFKA_ADVERTISED_PORT: 9094
      KAFKA_ZOOKEEPER_CONNECT: 172.19.0.11:2181,172.19.0.12:2181,172.19.0.13:2181
    volumes:
      - ./kafka3/logs:/kafka
    networks:
      kafka:
        ipv4_address: 172.20.0.16

networks:
  kafka:
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1